<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
    <div th:each="user: ${users}">
        <div>
            <p>
                <span th:text="${user.lastIpAdress}"></span>
                <span th:text="${user.adressesUsed}"></span>
                <span th:text="${user.numberOfActions}"></span>
                <span th:text="${user.contacts}"></span>
                <span th:text="${user.lastActive}"></span>
                <span><a th:href="@{/action_list/{id}(id=${user.id})}">Actions</a>
                <a th:href="@{/contacts_list/{id}(id=${user.id})}">Contacts</a>
                <a th:href="@{/adresses_list/{id}(id=${user.id})}">IPs</a></span>
            </p>
        </div>
    </div>
</body>
</html>